.thai-tech-cal {
  background: rgb(55, 186, 251) !important;
}

dialog {
  width: 85% !important;
  background: rgb(17, 17, 17) !important;
  color: #fff !important;
  border: none !important;
}
dialog p {
  font-size: 14px;
}
dialog p a {
  color: rgb(55, 186, 251) !important;
}

dialog #dialog-close {
  color: #fff !important;
  text-align: right;
  font-size: 18px;
  cursor: pointer;
}

.fc-list-heading td {
  background: none !important;
}
.fc-unthemed .fc-list-item:hover td {
  background: none !important;
}
.fc-day-number {
  text-align: center;
  position: relative;
  top: 50%;
}
#calendar {
  color: #fff;
}
.fc-widget-header {
  background: rgb(38, 38, 46);
  color: rgb(55, 186, 251);
  border-bottom: 1px solid rgb(60, 60, 80);
}
.fc-widget-content {
  background: rgb(38, 38, 46);
  border-bottom: 1px solid rgb(60, 60, 80);
}
.fc-header-toolbar {
  border-top: rgb(55, 186, 251) 5px solid;
  padding-top: 10px;
}
.fc-today {
  color: #fff;
  background: rgba(55, 186, 251) !important;
}
.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
  border-color: rgb(60, 60, 80);
}
* {
  font-family: "Karla", sans-serif;
}
body {
  background: rgb(17, 17, 17);
}
h1 {
  color: rgb(55, 186, 251);
}
.header-container {
  width: 100%;
  display: -webkit-flex;
  display: flex;
}
.header-item {
  width: 50%;
  color: rgb(55, 186, 251);
  align-content: center;
}
.how-to-add {
  text-align: right;
  padding-top: 35px;
}

#how-to-add-link {
  color: #fff;
  padding: 10px;
  margin-right: 40px;
  background: rgb(55, 186, 251);
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}
#github-link {
  text-decoration: none;
  font-weight: bold;
}
.footer {
  padding: 20px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
#instruction {
  color: #fff;
  padding: 10px;
  border: rgb(55, 186, 251) 2px solid;
  border-radius: 10px;
  margin-bottom: 10px;
  display: none;
}
#instruction li {
  padding: 5px;
}
.blue {
  color: rgb(55, 186, 251);
  font-weight: bold;
}
.image-demo {
  text-align: center;
}
.image-demo > img {
  max-width: 100%;
}
.footer > a {
  color: rgb(55, 186, 251);
}
.slogan {
  text-align: center;
  padding: 5px;

  color: #fff;
}
@media (min-width: 320px) and (max-width: 480px) {
  h1 {
    font-size: 15px;
  }
  #how-to-add-link {
    font-size: 10px;
  }
  .how-to-add {
    padding-top: 8px;
  }
  #instruction {
    margin-top: 10px;
  }
}
