name: Sync Discord message

on:
  push:
    branches:
      - main
      - discord/*
    paths-ignore:
      - 'README.md'
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  sync:
    name: Synchronize
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: bun
        uses: oven-sh/setup-bun@v1
      - name: install
        run: bun i
      - name: fetch
        run: bun scripts/fetch.ts
        working-directory: discord
        env:
          GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
      - name: update
        run: bun scripts/update.ts
        working-directory: discord
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
          DISCORD_MESSAGE_ID: ${{ secrets.DISCORD_MESSAGE_ID }}
