name: Production deployment

on:
  push:
    branches:
      - master

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    permissions:
      checks: write
      contents: read
      pull-requests: write
    environment:
      name: production
      url: https://th.techcal.dev
    steps:
      - uses: actions/checkout@v3
      - name: bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: 1.0.3
      - name: install
        run: bun i
      - name: 'build'
        run: |
          cd web
          bun run build-ci
          cd ..
      - name: 'firebase-tools'
        run: bun add --global firebase-tools
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_TECHCAL_TH }}'
          channelId: live
          projectId: techcal-th
